<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active">Dashboard</li>
  </ul>
  <!-- END BREADCRUMB -->

  <!-- PAGE CONTENT WRAPPER -->
  <div class="page-content-wrap">

    <!-- START WIDGETS -->
    <div class="row">
      <div class="col-md-6">
        <div style="display: block;">
        <canvas baseChart width="200" height="100"
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
      <div class="col-md-6">
        <div style="display: block">
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>

      <div class="col-md-6">
        <div style="display: block">
          <canvas baseChart
                      [data]="doughnutChartData"
                      [labels]="doughnutChartLabels"
                      [chartType]="doughnutChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
      <div class="col-md-6">
          <div style="display: block">
              <canvas baseChart
                      [datasets]="radarChartData"
                      [labels]="radarChartLabels"
                      [chartType]="radarChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
          </div>
      </div>

      <div class="col-md-6">
          <div style="display: block">
              <canvas baseChart
                      [data]="pieChartData"
                      [labels]="pieChartLabels"
                      [chartType]="pieChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
            </div>
      </div>

      <div class="col-md-6">
          <div style="display: block">
              <canvas baseChart
                      [data]="polarAreaChartData"
                      [labels]="polarAreaChartLabels"
                      [legend]="polarAreaLegend"
                      [chartType]="polarAreaChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
            </div>
      </div>

    </div>
    <!-- END DASHBOARD CHART -->

  </div>
  <!-- END PAGE CONTENT WRAPPER -->
