<div class="page-container page-navigation-top-fixed" style="height:100%">

<!-- aqui va el sidebar -->
<!-- aqui termina el sidebar -->
<nav class="navbar navbar-inverse sidebar" role="navigation" id="nav-bar-menu">
  <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

  <div class="profile">
      <div *ngIf="idRol<3" class="profile-image" [routerLink]="[ './admin/perfil' ]" style="cursor:pointer;">
          <img src="{{((picture!=null)?picture:'')}}" alt="{{((firstname!=null)?firstname+' '+lastname:user)}}"/>
      </div>
      <div *ngIf="idRol>=3" class="profile-image" [routerLink]="[ './usuario/perfil' ]" style="cursor:pointer;">
          <img src="{{((picture!=null)?picture:'')}}" alt="{{((firstname!=null)?firstname+' '+lastname:user)}}"/>
      </div>
      <div class="profile-data">
          <div class="profile-data-name">{{(firstname!=''?firstname+' '+lastname:user)}}</div>
          <div class="profile-data-title">{{rol}}</div>
      </div>
      <div class="profile-controls">
      </div>
  </div>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="xn-title">Menu {{rol}}</li>
      <li routerLinkActive="active"
      [routerLink]="[ './admin/dashboard']">
          <a><span class="fa fa-dashboard"></span> <span class="xn-text">Dashboard</span></a>
      </li>
      <li routerLinkActive="active"
      [routerLink]="[ './admin/metas']">
          <a><span class="fa fa-chain-broken"></span> <span class="xn-text">Metas</span></a>
      </li>
      <li routerLinkActive="active"
      [routerLink]="[ './admin/citas']">
          <a><span class="fa fa-comment-o"></span> <span class="xn-text">Citas</span></a>
      </li>
      <li routerLinkActive="active"
      [routerLink]="[ './admin/pedidos']">
          <a><span class="fa fa-download"></span> <span class="xn-text">Pedidos</span></a>
      </li>
      <li routerLinkActive="active"
      [routerLink]="[ './admin/quejas']">
          <a><span class="fa fa-comments-o"></span> <span class="xn-text">Quejas</span></a>
      </li>
      <li routerLinkActive="active"
      [routerLink]="[ './admin/eventos']">
          <a><span class="fa fa-calendar"></span> <span class="xn-text">Eventos</span></a>
      </li>
      <li class="dropdown" #mas>
          <a class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton"><span class="fa fa-plus"></span> <span class="xn-text">Graficacion</span></a>
          <ul class="dropdown-menu " role="menu" aria-labelledby="dropdownMenuButton">
              <li routerLinkActive="active"
              [routerLink]="[ './admin/clientes']" role="presentation">
                  <a role="menuitem" tabindex="-1"><span class="fa fa-ticket"></span> <span class="xn-text">Clientes</span></a>
              </li>
              <li routerLinkActive="active"
              [routerLink]="[ './admin/vendedor']">
                  <a role="menuitem" tabindex="-1"><span class="fa fa-truck"></span> <span class="xn-text">Vendedor</span></a>
              </li>
              <li routerLinkActive="active"
              [routerLink]="[ './admin/ventas']" role="presentation">
                  <a role="menuitem" tabindex="-1"><span class="fa fa-tags"></span> <span class="xn-text">Ventas</span></a>
              </li>
              <li routerLinkActive="active"
              [routerLink]="[ './admin/departamentos']" role="presentation">
                  <a role="menuitem" tabindex="-1"><span class="fa fa-align-center"></span> <span class="xn-text">Departamentos</span></a>
              </li>
              <li routerLinkActive="active"
              [routerLink]="[ './admin/municipios']" role="presentation">
                  <a role="menuitem" tabindex="-1"><span class="fa fa-align-justify"></span> <span class="xn-text">Municipios</span></a>
              </li>
          </ul>
      </li>
    </ul>
  </div>
</div>
</nav>
  <div class="page-content">

    <!-- START X-NAVIGATION VERTICAL -->
    <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
        <!-- TOGGLE NAVIGATION -->
        <li class="xn-icon-button">
            <a class="x-navigation-minimize" (click)="colapsse()"><span class="fa fa-dedent"></span></a>
        </li>
        <!-- END TOGGLE NAVIGATION -->
        <!-- SEARCH -->
        <li class="xn-search">
            <form role="form">
                <input type="text" name="search" placeholder="Search..."/>
            </form>
        </li>
        <!-- END SEARCH -->
        <!-- SIGN OUT -->
        <li class="xn-icon-button pull-right" style="cursor:pointer;">
            <a class="mb-control" data-toggle="modal" data-target="#mb-signout"><span class="fa fa-sign-out"></span></a>
        </li>
        <!-- END SIGN OUT -->
        <!-- MESSAGES -->
        <li class="xn-icon-button pull-right">
            <a><span class="fa fa-comments"></span></a>
            <div class="informer informer-danger">4</div>
            <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="fa fa-comments"></span> Messages</h3>
                    <div class="pull-right">
                        <span class="label label-danger">4 new</span>
                    </div>
                </div>
                <div class="panel-body list-group list-group-contacts scroll" style="height: 200px;">
                    <a class="list-group-item">
                        <div class="list-group-status status-online"></div>
                        <img src="assets/images/users/user2.jpg" class="pull-left" alt="John Doe"/>
                        <span class="contacts-title">John Doe</span>
                        <p>Praesent placerat tellus id augue condimentum</p>
                    </a>
                    <a class="list-group-item">
                        <div class="list-group-status status-away"></div>
                        <img src="assets/images/users/user.jpg" class="pull-left" alt="Dmitry Ivaniuk"/>
                        <span class="contacts-title">Dmitry Ivaniuk</span>
                        <p>Donec risus sapien, sagittis et magna quis</p>
                    </a>
                    <a class="list-group-item">
                        <div class="list-group-status status-away"></div>
                        <img src="assets/images/users/user3.jpg" class="pull-left" alt="Nadia Ali"/>
                        <span class="contacts-title">Nadia Ali</span>
                        <p>Mauris vel eros ut nunc rhoncus cursus sed</p>
                    </a>
                    <a class="list-group-item">
                        <div class="list-group-status status-offline"></div>
                        <img src="assets/images/users/user6.jpg" class="pull-left" alt="Darth Vader"/>
                        <span class="contacts-title">Darth Vader</span>
                        <p>I want my money back!</p>
                    </a>
                </div>
                <div class="panel-footer text-center">
                    <a href="pages-messages.html">Show all messages</a>
                </div>
            </div>
        </li>
        <!-- END MESSAGES -->
    </ul>
    <!-- END X-NAVIGATION VERTICAL -->
      <div class="pageContainer">
        <router-outlet></router-outlet>
      </div>
  </div>

  <!-- MESSAGE BOX-->
  <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-sign-out"></span> Cerrar <strong>sesion</strong> ?</div>
            <div class="mb-content">
                <p>Estas seguro de querer cerrar sesion?</p>
                <p>Presiona NO si quieres permanecer activo. Presiona SI si quieres cerrar la sesion actual.</p>
            </div>
            <div class="mb-footer">
                <div class="">
                    <a (click)="logout()" class="btn btn-success btn-lg">Si</a>
                    <button class="btn btn-default btn-lg mb-control-close" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- END MESSAGE BOX-->

  <!-- Inicio Modal de cambio de contraseña -->
  <div id="passwordModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Cambio de Contraseña</h4>
            </div>
            <div>
                <form id="pass-form"  #passForm="ngForm" (ngSubmit)="updatePass(passForm.value)">
                  <div class="form-group col-xs-12 m-b-15">
                    <label for="old_pass">Contraseña Actual</label>
                    <div class="input-group">
                      <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                      <input type="password" class="form-control" id="old_pass" name="old_pass" required
                              ngModel #old_pass="ngModel" placeholder="Contraseña Actual">
                    </div>
                      <div *ngIf="old_pass.invalid && (old_pass.dirty || old_pass.touched)"
                            class="alert alert-danger" role="alert">
                          <small *ngIf="old_pass.errors.required">
                              El Contraseña Actual es invalido
                          </small>
                      </div>
                  </div>
                  <div class="form-group col-xs-12 m-b-15">
                    <label for="new_pass">Nueva Contraseña</label>
                    <div class="input-group">
                      <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                      <input type="password" class="form-control" id="new_pass" name="new_pass" required
                              ngModel #new_pass="ngModel" placeholder="Nueva Contraseña">
                    </div>
                      <div *ngIf="new_pass.invalid && (new_pass.dirty || new_pass.touched)"
                            class="alert alert-danger" role="alert">
                          <small *ngIf="new_pass.errors.required">
                              El Nueva Contraseña es invalido
                          </small>
                      </div>
                  </div>
                  <div class="form-group col-xs-12 m-b-15">
                    <label for="new_pass_rep">Repita Nueva Contraseña</label>
                    <div class="input-group">
                      <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                      <input type="password" class="form-control" id="new_pass_rep" name="new_pass_rep" required
                              ngModel #new_pass_rep="ngModel" placeholder="Repita Nueva Contraseña">
                    </div>
                        <div *ngIf="new_pass_rep.value != new_pass.value"
                            class="alert alert-danger" role="alert">
                          <small>
                              Las contraseñas deben ser Iguales
                          </small>
                        </div>
                  </div>
                  <div class="form-group col-xs-12 text-right m-b-15"  style="margin-bottom: 15px;" >
                      <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times-circle" ></i> Cancel</button>
                      <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                  </div>
                </form>
            </div>
            <div class="modal-footer" style="border:none;">
            </div>
        </div>
    </div>
  </div>
  <!-- Fin Modal de cambio de contraseña -->

